@font-face {
  font-family: 'lx-iconfont';  /* project id 949679 */
  src: url('//at.alicdn.com/t/font_949679_nrjhoaly8rs.eot');
  src: url('//at.alicdn.com/t/font_949679_nrjhoaly8rs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_949679_nrjhoaly8rs.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_949679_nrjhoaly8rs.woff') format('woff'),
  url('//at.alicdn.com/t/font_949679_nrjhoaly8rs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_949679_nrjhoaly8rs.svg#lx-iconfont') format('svg');
}